.body_background{
    background-image: url("bg1.jpg");
    background-position: center;
    background-size: cover;
}
body{
    cursor: pointer;
}
#mycanvas{
    background-color: white;
    border-width: 10px;
    border-style: ridge;
}
h1{
    color: red;
}
button{
    background-color: green;
    border: none;
    color: white;
    padding: 10px 42px;
    font-size: 16px;
}
input{
    margin-right: 20px;
}
span{
    font-weight: bold;
}